extends layout.pug
block scripts
	script(src='public/scripts/admin.js')
block content
	body
		div.form-group
			button(name='nextQuestion' onClick='nextQuestion()') Next Question
			button(name='reset' onClick='reset()') Reset Session
