html
	head
		script
			include js/answer.js
	body
		div.form-group
			button(name='answerA' onClick='submitAnswer(this)') A
			button(name='answerB' onClick='submitAnswer(this)') B
			button(name='answerC' onClick='submitAnswer(this)') C
			button(name='answerD' onClick='submitAnswer(this)') D

