extends layout.pug
block scripts
	script(src='/public/scripts/answer.js')
block content
	div.form-group
		p.instructions Wait for the questions to be displayed, then click the letter for the answer that you think is right
		a(href='/teams') Leaderboard
		div.answerButtonGroup
			button(class='answerButton' name='answerA' onClick='submitAnswer(this)') A
			br
			button(class='answerButton' name='answerB' onClick='submitAnswer(this)') B
			br
			button(class='answerButton' name='answerC' onClick='submitAnswer(this)') C
			br
			button(class='answerButton' name='answerD' onClick='submitAnswer(this)') D

