html
	head
		script
			include js/answer.js

	body
		div.form-group
			button(name='answerA' onClick='submitAnswer()') A
			button(name='answerB' onClick='submitAnswer()') B
			button(name='answerC' onClick='submitAnswer()') C
			button(name='answerD' onClick='submitAnswer()') D

