html
	head
		title Senior Days Trivia 2017

		block styles
				link(rel='stylesheet' href='./style/style.css')
				link(rel='stylesheet' href='https://cdn.rawgit.com/Chalarangelo/mini.css/v2.2.0/dist/mini-default.min.css')
		block scripts

	body
		block content
		block footer
			div.footer
				p.copyright
					| Senior Days Trivia 2017
					br
					| Copyright 2017 Elijah Verdoorn
