html
	head
		title Senior Days Trivia 2017

		block styles
				link(rel='stylesheet' href='public/styles/style.css')
				link(rel='stylesheet' href='https://cdn.rawgit.com/Chalarangelo/mini.css/v2.2.0/dist/mini-default.min.css')
		block scripts

	body
		block logo
			div.logo
				img(src='public/img/logo.png')
		div.container
			div.row.cols-sm-12.cols-md-10
				div.col-md-offset-1
					block content
		block footer
			footer
				p.copyright
					| Senior Days Trivia 2017
					br
					| &copy; 2017 Elijah Verdoorn
