html
	head
		title Senior Days Trivia 2017

		block styles
				link(rel='stylesheet' href='style/style.css')
		block scripts

	body
		block content
		block footer
			div.footer
				p.copyright
					| Senior Days Trivia 2017
					br
					| Copyright 2017 Elijah Verdoorn
