extends layout.pug
block content
	if typeof question === 'undefined'
		p No questions yet
	else
		h2=question.question
		div.col-md-offset-1
			i
				| #{question.category}
			ol
				each answer in answers
					li(type='A')=answer.choice
