extends layout.pug
block content
	if typeof question === 'undefined'
		p No questions yet
	else
		p=question.question
		i
			| #{question.category}
		ol
			each answer in answers
				li=answer.choice
